.onsale {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
  background-color: $red;
  color: $white;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.woocommerce-product-badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;

  .badge {
    @extend .badge, .bg-secondary;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $badge-width;
    height: $badge-height;
    font-weight: bold;
    text-wrap: auto;
    margin-right: .25rem;
    margin-bottom: .25rem;
    z-index: 1;
  }
}