// ============================
// Base button
// ============================
.btn {
  display: inline-flex;
  align-items: center;

  &:not(.btn-link) {
    justify-content: center;
  }

  &.btn-link {
    padding: 0;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $black;

      .icon {
        color: $black;
      }
    }
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: $transition-base;

    &:first-child {
      margin-right: 1rem;

      &:has(+ .visually-hidden) {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-left: 1rem;
    }

    &:only-child {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// ============================
// Generate solid buttons
// ============================
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color == "light" {
      // Light buttons: black text, darken background on hover
      @include button-variant(
        $value,                                                               // background color
        $value,                                                               // border color
        $color: $black,                                                       // text color
        $hover-background: shade-color($value, $btn-hover-bg-shade-amount),   // background on hover
        $hover-border: shade-color($value, $btn-hover-border-shade-amount),   // border on hover
        $hover-color: $black,                                                 // text color on hover
        $active-background: shade-color($value, $btn-active-bg-shade-amount), // background when active
        $active-border: shade-color($value, $btn-active-border-shade-amount), // border when active
        $active-color: $black                                                 // text color when active
      );
    } @else if $color == "dark" {
      // Dark buttons: white text, lighten background on hover
      @include button-variant(
        $value,                                                             // background color
        $value,                                                             // border color
        $color: $white,                                                     // text color
        $hover-background: tint-color($value, $btn-hover-bg-tint-amount),   // background on hover
        $hover-border: tint-color($value, $btn-hover-border-tint-amount),   // border on hover
        $hover-color: $white,                                               // text color on hover
        $active-background: tint-color($value, $btn-active-bg-tint-amount), // background when active
        $active-border: tint-color($value, $btn-active-border-tint-amount), // border when active
        $active-color: $white                                               // text color when active
      );
    } @else {
      // All other colors: white text, darken background on hover
      @include button-variant(
        $value,                                 // background color
        $value,                                 // border color
        $color: $white,                         // text color
        $hover-background: darken($value, 5%),  // background on hover
        $hover-border: darken($value, 5%),      // border on hover
        $hover-color: $white,                   // text color on hover
        $active-background: darken($value, 5%), // background when active
        $active-border: darken($value, 5%),     // border when active
        $active-color: $white                   // text color when active
      );
    }
  }
}

// ============================
// Generate outline buttons
// ============================
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant(
      $color: $value,             // border & text color normally
      $color-hover: $white,       // text color on hover
      $active-background: $value, // active background
      $active-border: $value,     // active border
      $active-color: $white       // active text color
    );
  }
}

// ============================
// Apply custom buttons to your selectors
// ============================
.button,
a.wp-block-button__link {
  @extend .btn;

  // Default primary button
  &:not(.alt):not(.wc-forward):not(.view):not(.cancel) {
    @extend .btn-primary;
  }

  // Outline / alternative buttons
  &.alt,
  &.wc-forward,
  &.view,
  &.cancel {
    @extend .btn-outline-primary;

    // Checkout button inside outline
    &.checkout {
      @extend .btn-primary;
    }
  }
}

// ============================
// Icons inherit button color
// ============================
.button .icon,
a.wp-block-button__link .icon {
  color: inherit;
}
