.cookie-banner {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #2b2b2b;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  z-index: 0;

  &.show {
    opacity: 1;
    transform: translateY(0);
    z-index: 9999;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
  }
}

@include media-breakpoint-up(lg) {
  .cookie-banner {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }
}