@font-face {
  font-family: 'Kalam-Regular';
  src: url('../fonts/Kalam-Regular.woff2') format('woff2'),
       url('../fonts/Kalam-Regular.woff') format('woff'),
       url('../fonts/Kalam-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}