.woocommerce-mini-cart {
  margin: 0;
  padding: 0;
  list-style: none;

  .woocommerce-mini-cart-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid rgba($primary, 0.2);

    &:last-child {
      border-bottom: none;
    }

    .remove {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 1rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      color: $danger;
      text-decoration: none;
    }

    a:not(.remove) {
      display: flex;
      flex: 1;
      padding: 0 1rem;
      font-family: $headings-font-family;
      font-size: .875rem;
      text-decoration: none;
      color: $black;
    }

    .icon {
      color: $black;
    }

    img {
      flex: 0 0 4rem;
      max-width: 4rem;
      margin-right: 0.5rem;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }

    .quantity {
      display: flex;
      flex-direction: column;
      flex: 0 0 4rem;
      align-self: flex-end;
      font-size: 0.875rem;
      line-height: 1.2;
      text-align: right;

      .amount {
        font-weight: 500;
        text-wrap: nowrap;
      }

      del {
        font-size: 0.75rem;

        .amount {
          font-weight: 300;
        }
      }

      ins {
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

.woocommerce-mini-cart__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.woocommerce-mini-cart__total,
.woocommerce-mini-cart__drs_fee-wrapper {
  padding: .5rem 1rem;
  
  strong {
    font-weight: 400;
  }

  .amount {
    font-weight: 700;
  }
}

.woocommerce-mini-cart__total,
.woocommerce-mini-cart__drs_fee {
  display: flex;
  justify-content: space-between;
}

.woocommerce-mini-cart__total {
  margin-top: auto;
  margin-bottom: 0;
  border-top: 1px solid rgba($primary, 0.2);
}

.woocommerce-mini-cart__buttons {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0 1rem 1rem;

  .button {
    flex: 1;
  }
}

.woocommerce-mini-cart__empty-message {
  //padding: 1rem;
}
