.slider.slider--logo {
    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide > div {
        display: flex;
        flex: 1;
    }

    .slick-list {
        margin-left: calc($grid-gutter-width * -1);
    }

    .slick-slide {
        padding-left: $grid-gutter-width;
    }

    .card {
		.card__header {
			justify-content: center;
			align-items: center;
		}
	}
}

@include media-breakpoint-up(xxl) {
    .slider.slider--logo {
        .slick-slide {
            width: auto !important;
            flex: 0 0 auto;

            & > div {
                flex: 0 0 auto;
            }
        }

        img {
            display: block;
            width: auto;
            max-width: initial;
            height: 80px;
        }
    }
}