.slick-slider {
  opacity: 0;
  visibility: hidden;
  transition: $transition-base;
  user-select: auto;

  .slick-slide > div {
    display: flex;
    height: 100%;
  }

  &.slick-initialized {
    opacity: 1;
    visibility: visible;
  }
}

.slider {
  position: relative;

  .slick-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    transition: $transition-base;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    pointer-events: all;

    &:focus,
    &:active {
      outline: 0;
    }

    &.slick-disabled {
      opacity: 0.25;
    }

    &.slick-prev,
    &.slick-next {
      position: relative;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      color: $black;
      fill: currentColor;
    }
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
    z-index: 1;

    li {
      position: relative;
      width: 0.75rem;
      height: 0.75rem;
      margin: 0 0.25rem;
      padding: 0;
      cursor: pointer;

      button {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 1px solid rgba($primary, 0.2);
        border-radius: 50%;
        outline: none;
        background-color: transparent;
        font-size: 0;
        line-height: 0;
        cursor: pointer;

        &:hover,
        &:focus {
          outline: none;
        }
      }

      &.slick-active {
        button {
          background-color: $primary;
          border-color: $primary;
        }
      }
    }
  }

  .slider__controls {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    pointer-events: none;
  }
}

@include media-breakpoint-up(xl) {
  .slider {
    .slick-arrow {
      &.slick-prev,
      &.slick-next {
        position: relative;
      }

      &.slick-prev {
        left: -4rem;
      }

      &.slick-next {
        right: -4rem;
      }
    }

    .slider__controls {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      //bottom: calc(100% + 1rem);
      //right: 0;
      justify-content: space-between;
    }
  }
}