.slider.slider--main {
    .slider__item {
        position: relative;
    }

    .slider__image-wrapper {
        padding: 0;
        margin: 0;
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba($black, .75) 0%, rgba($black, 0) 100%);
        }
    }

    .slider__image {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .slider__video-wrapper {
        position: relative;
        overflow: hidden;

        .slider__video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
            z-index: 0;
            border-radius: 0;
        }

        .slider__overlay {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba($black, .75) 0%, rgba($black, 0) 100%);
            z-index: 1;
        }
    }

    .slider__caption {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        z-index: 2;
    }

    .slider__caption-inner {
        display: flex;
        flex-direction: column;
        row-gap: .625rem;
        width: calc(95% - 4rem);
        margin: 0 auto;
    }

    .slider__title,
    .slider__subtitle {
        color: $white;
    }

    .slider__title {
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.75rem;
        margin: 0;
    }

    .slider__subtitle {
        font-family: $font-family-base;
        font-size: 1.125rem;
        line-height: 1.4;
        margin: 0;
    }

    .slider__description {
        font-size: .875rem;
    }

    .slider__button {
        width: fit-content;
        margin-top: 1.25rem;
    }

    .slider__controls {
        position: absolute;
        top: calc(50% - 1.25rem);
        left: 50%;
        transform: translate(-50%);
        justify-content: space-between;
        width: 95%;

        .slick-arrow.slick-prev {
            left: 0;
        }

        .slick-arrow.slick-next {
            right: 0;
        }

        .icon {
            color: $white;
        }
    }

    .slick-slide > div {
        display: flex;
    }

    .slick-dots {
        margin-top: .75rem;

        li {
            width: .625rem;
            height: .625rem;
            margin: 0 .375rem;

            button {
                border: none;
                background-color: $gray-400;
                transition: $transition-base;

                &:hover,
                &:focus {
                    transform: scale(1.5);
                    background-color: $gray-500;
                }
            }

            &.slick-active {
                button {
                    transform: scale(1.5);
                    background-color: $gray-500;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .slider.slider--main {
        .slider__caption-inner {
            max-width: 65%;
            margin: 0;
        }

        .slider__title {
            font-size: 3.125rem;
            line-height: 4.063rem;
        }

        .slider__subtitle {
            font-size: 1.625rem;
        }

        .slider__description {
            font-size: 1.125rem;
        }
    }
}
