.page.page--404 {
    .page__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 64px);
    }

    .page__title {
        margin-bottom: 4rem;
        text-align: center;
    }

    .page__button {
        margin-top: 2rem;
    }
}