.section.section--archive {
    .section__toolbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@include media-breakpoint-up(lg) {
    .section.section--archive {
        .section__toolbar {
            flex-direction: row;
            align-items: center;
            gap: 2rem;
        }
    }
}