.section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    &.section--padding-top-none {
        padding-top: 0;
    }

    &.section--padding-bottom-none {
        padding-bottom: 0;
    }

    &.section--padding-top-large {
        padding-top: 5rem;
    }

    &.section--padding-bottom-large {
        padding-bottom: 5rem;
    }

    &.section--color-white {
        background-color: rgba($white, 1);

        .slider__list::after {
            background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 100%) !important;
        }
    }

    &.section--color-primary {
        background-color: rgba($primary, 1);

        .slider__list::after {
            background: linear-gradient(to right, rgba($primary, 0) 0%, rgba($primary, 1) 100%) !important;
        }

        .section__title {
            color: rgba($white, 1);
        }
    }

    &.section--color-primary-05 {
        background-color: rgba($primary, 0.05);

        .slider__list::after {
            background: linear-gradient(to right, rgba($primary, 0) 0%, #FFF8F3 100%) !important;
        }
    }

    &.section--color-primary-25 {
        background-color: rgba($primary, 0.25);

        .slider__list::after {
            background: linear-gradient(to right, rgba($primary, 0) 0%, #FFDAC3 100%) !important;
        }
    }

    &.section--color-secondary {
        background-color: rgba($secondary, 1);

        .slider__list::after {
            background: linear-gradient(to right, rgba($secondary, 0) 0%, rgba($secondary, 1) 100%) !important;
        }

        .section__title {
            color: rgba($primary-dark, 1);
        }
    }

    &.section--color-secondary-05 {
        background-color: rgba($secondary, 0.05);

        .slider__list::after {
            background: linear-gradient(to right, rgba($secondary, 0) 0%, #F3F4FC 100%) !important;
        }

        .section__title {
            color: rgba($primary-dark, 1);
        }
    }

    &.section--color-secondary-25 {
        background-color: rgba($secondary, 0.25);

        .slider__list::after {
            background: linear-gradient(to right, rgba($secondary, 0) 0%, #C4C8EE 100%) !important;
        }

        .section__title {
            color: rgba($primary-dark, 1);
        }
    }

    .container--narrow {
        .section__content {
            max-width: 40rem;
            margin: 0 auto;
        }
    }

    .section__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .section__image-wrapper {
        margin-bottom: 1.875rem;
    }

    .section__image {
        width: 100%;
        object-fit: cover;
        border-radius: $border-radius-xl;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    }

    .section__lead {
        font-size: 1.125rem;
    }

    .section__meta {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: .5rem;
        align-items: center;
        margin-bottom: 1rem;
        font-size: .75rem;

        & > span:not(:first-child) {
            position: relative;
            margin-left: 1rem;
            padding-left: 1rem;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 1rem;
                background-color: $primary;
            }
        }
    }

    .section__bookmark {
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        text-decoration: none;
        color: $body-color;

        .icon {
            width: 1.5rem;
            height: 1.5rem;
            color: $body-color;
        }
    }

    .section__link {
        display: flex;
        justify-content: flex-end;
    }

    .section__categories {
        overflow: hidden;

        .category__container {
            display: flex;
            justify-content: center;
            overflow: auto;
            scrollbar-width: none;
            margin: 2rem 0 4rem;
        }
        
        .category__wrapper {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: max-content;
        }

        a {
            display: block;
            padding: 0 .625rem;
            border-radius: 10px;
            font-weight: 600;
            text-decoration: none;
            background-color: $primary;
            color: $white;
        }
    }

    .section__footer {
        .section__title {
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .card--author {
            max-width: 768px;
            margin: 0 auto;
        }
    }

    .section__navigation {
        .navbar-toggler {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 1rem;
            border: none;
            background-color: rgba($secondary, 1);
            color: rgba($white, 1);

            .icon {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    .toc-list {
        list-style: none;
    }

    .accordion-body ol {
        padding-left: 1rem;
    }

    .accordion-body > ol {
        padding-left: 0;
    }

    .wpbs-main-wrapper {
        .wpbs-calendars-wrapper {
            &.wpbs-legend-position-side {
                max-width: 100% !important;
            }
        }

        .wpbs-container[data-columns] {
            .wpbs-calendars {
                .wpbs-calendar {
                    max-width: 100% !important;

                    table tr td .wpbs-date-inner {
                        height: 4rem !important;
                        line-height: 4rem !important;
                    }
                }
            }

            & ~ p {
                display: none;
            }
        }

        .wpbs-form-container {
            display: none;
        }
    }
}

@include media-breakpoint-up(lg) {
    .section {
        padding-top: 4rem;
        padding-bottom: 4rem;

        &.section--right {
            .row {
                flex-direction: row-reverse !important;
            }
        }

        &.section--alternately {
            .row {
                &:nth-child(even) {
                    flex-direction: row-reverse !important;
                }
            }
        }
    }

    .section__navigation {
        .navbar-toggler {
            display: none !important;
        }
    }

    .section__bookmark {
        margin-left: auto;
    }
}