.nav.nav--footer {
  .nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav__item {
    margin-bottom: 0.5rem;
  }

  .nav__link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-family: $font-family-base;
    font-size: 0.9375rem;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: $white;
    padding: 0;

    &.nav__current,
    &:hover,
    &:focus {
      color: $primary;
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      color: $white;
    }

    small {
      text-decoration: underline;
      text-underline-offset: .25rem;
      color: $primary;
    }
  }
}
