.card {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $secondary-light;
	border-radius: $border-radius;
	box-shadow: 8px 16px 20px -8px rgba(0, 0, 0, .15);
	overflow: hidden;

	&.card--apartment,
	&.card--location {
		.card__lead {
			margin-bottom: 2rem;
		}

		.card__button {
			position: relative;
			inset: auto;
			width: max-content;
			margin-top: auto;
		}
	}

	&.card--map-infowindow {
		.card__image {
			aspect-ratio: 21 / 9;
		}
	}

	.card__link {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		color: $black;
		text-decoration: none;

		&:hover {
			.card__image {
				transform: scale(1.2);
			}
		}
	}

	.card__header {
		position: relative;
		flex: 1;
	}

	.card__content {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		justify-content: flex-start;
		padding: 1.25rem;
	}

	.card__image-wrapper {
		overflow: hidden;
	}

	.card__icon-wrapper {
		padding: 1.25rem 1.25rem 0;
		text-align: left;
	}

	.card__image {
		display: block;
		width: 100%;
		height: 100%;
		aspect-ratio: 3 / 2;
		object-fit: cover;
		transition: $transition-base;
	}

	.card__icon {
        width: 64px;
        height: 64px;
        color: $primary;
    }

	.card__title {
		font-size: 1.125rem;
		font-weight: 600;
		text-align: left;
		margin: 0;

		&:has(.icon) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;

			.icon {
				flex: 0 0 auto;
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}

	.card__lead {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin-top: .875rem;
		font-size: .875rem;
		text-align: left;
        color: $black;

		p {
			&:last-child {
				margin: 0;
			}
		}
	}

	.card__button {
		position: absolute;
		inset: auto 1rem 1rem auto;

		.icon {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	.card__meta {
		display: flex;
		align-items: center;
		gap: .5rem;
		margin-top: auto;
		padding-top: .625rem;
		padding-right: 1.5rem;
		font-size: .875rem;
		color: rgba($black, .5);
	}

	.card__categories {
		display: flex;
		align-items: center;
		gap: .25rem;
	}

	.card__category {
		display: block;
		padding: 0 .625rem;
		border-radius: 10px;
		font-size: .875rem;
		line-height: 1.25rem;
		background-color: $primary;
		color: $white;
	}

	.card__date-wrapper {
		color: rgba($black, .4);
		font-size: .875rem;
		line-height: 1;
	}

	.card__badge {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
        width: 180px;
        padding: .5rem 3rem .5rem 1.75rem;
        background-color: $primary;
        color: $white;
        font-size: 1rem;
		line-height: 1.1;
		text-align: center;
        transform-origin: right top;
        transform: rotate(-34deg) translateX(-25px) translateY(-68px);
		z-index: 10;
	}

	.card__bookmark {
		position: absolute;
		top: .5rem;
		right: .5rem;
		width: 2rem;
		height: 2rem;
		display: grid;
		place-items: center;
		background-color: rgba($black, .5);
		border-radius: 2rem;

		.icon {
			margin: 0;
		}

		span {
			@extend .visually-hidden;
		}
	}
}

@include media-breakpoint-up(xl) {
	.card {
		.card__title {
			font-size: 1.5rem;
		}

		.card__meta {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}