@import "blocks/block-base";
//@import "blocks/block-post-category";
//@import "blocks/block-footer";
//@import "blocks/block-social";
@import "blocks/block-product-sticky";
@import "blocks/block-marquee";
