@import "sliders/slider-base";
@import "sliders/slider-card";
@import "sliders/slider-main";
@import "sliders/slider-post-query";
@import "sliders/slider-product-query";
@import "sliders/slider-term-query";
@import "sliders/slider-related";
@import "sliders/slider-gallery";
@import "sliders/slider-logo";